[submodule "feature/consumo_de_api"]
	path = feature/consumo_de_api
	url = https://github.com/jhonnydeppp/TribalTest.git
	branch = master
[submodule "TribalTest"]
	url = https://github.com/jhonnydeppp/TribalTest.git
